variables:
  CI_IMAGE: $CI_REGISTRY/$CI_PROJECT_PATH/$CI_COMMIT_REF_SLUG:$CI_PIPELINE_ID

stages:
  - build
  - deploy_stage
  - deploy_live

build:
  stage: build
  before_script:
    - docker login -u $CI_REGISTRY_USER -p $CI_JOB_TOKEN $CI_REGISTRY
  script:
    - docker build -f Dockerfile.conversis -t $CI_IMAGE --pull .
    - docker push $CI_IMAGE
  tags:
    - docker1

.deploy:
  image: docker:latest
  before_script:
    - docker login -u $CI_REGISTRY_USER -p $CI_JOB_TOKEN $CI_REGISTRY
  script:
    # Backup content from old container (articles + co-located images)
    - docker cp $SHORTCODE1-web:/app/src/content/articles /tmp/articles 2>/dev/null || true
    # Remove old container and start new one
    - docker compose -f docker-compose.conversis.yml -p $SHORTCODE1 rm -sfv || true
    - docker compose -f docker-compose.conversis.yml -p $SHORTCODE1 up -d --remove-orphans
    # Restore content to new container
    - docker cp /tmp/articles/. $SHORTCODE1-web:/app/src/content/articles/ 2>/dev/null || true
    # Fix ownership for non-root user
    - docker exec -u root $SHORTCODE1-web chown -R astro:nodejs /app/src/content/articles 2>/dev/null || true
    # Cleanup
    - rm -rf /tmp/articles 2>/dev/null || true

deploy_stage:
  stage: deploy_stage
  extends: .deploy
  tags:
    - docker2
  only:
    - main
  environment:
    name: stage
    url: https://$URL
  variables:
    IMAGE: $CI_IMAGE
    SHORTCODE1: stage-$SHORTCODE

deploy_branch:
  stage: deploy_stage
  extends: .deploy
  tags:
    - docker2
  except:
    - main
  environment:
    name: $CI_COMMIT_BRANCH
    url: https://$URL
  variables:
    IMAGE: $CI_DEV_IMAGE
    SHORTCODE1: $CI_COMMIT_BRANCH-$SHORTCODE
    URL: $CI_COMMIT_BRANCH.$URL

deploy_live:
  stage: deploy_live
  extends: .deploy
  tags:
    - docker2
  only:
    - merge_request
    - main
  when: manual
  needs: ['build']
  environment:
    name: live
    url: https://$URL
  variables:
    IMAGE: $CI_IMAGE
    SHORTCODE1: $SHORTCODE
