---
import Layout from '../layouts/Layout.astro';
import EditorComponent from '../components/Editor';
---

<Layout title="Editor">
  <div class="container">
    <h1 style="font-size: 2rem; margin-bottom: 2rem;">Content Editor</h1>
    <EditorComponent client:load />
  </div>
</Layout>
